<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="navigation-bar">
      <span class="navbar-toggler-icon" style="color: #025955;"></span>
    </div>

    <a href="#" class="navbar-brand">
      <i class="fa fa-home" style="font-size: 1rem; color: #025955;"></i>
    </a>

    <div class="collapse navbar-collapse" id="navigation-bar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#statistic">Statistic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#kontak">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section id="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="h1-title">
          Covid-19
        </h1>
        <p class="text-center">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo esse expedita aliquid doloribus sequi cumque
          facilis nobis porro. Eos quas accusantium iure necessitatibus impedit deserunt, rem nisi fugiat maxime soluta.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="statistic">
  <div class="container p-5 text-center">
    <div class="row">
      <div class="col text-left">
        <h3>Statistik</h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mb-3">
        <form>
          <div class="form-group">
            <select (change)="countryChanged($event.target.value)" class="form-control" id="country">
              <option selected value="global">Global</option>
              <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 md-3">
        <div class="card card-infected">
          <div class="card-body">
            <h4 class="card-title">Infected</h4>
            <p class="card-text" [countUp]="data.confiremd">{{data.confiremd| number}}</p>
            <p>{{data.lastupdate| date:'longDate'}}</p>
            <p>Data aktif saat ini</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-recovered">
          <div class="card-body">
            <h4 class="card-title">Recovered</h4>
            <p class="card-text" [countUp]="data.recovered">{{data.recovered| number}}</p>
            <p>{{data.lastupdate| date:'longDate'}}</p>
            <p>Data sembuh saat ini</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-deaths">
          <div class="card-body">
            <h4 class="card-title">Infected</h4>
            <p class="card-text" [countUp]="data.deaths">{{data.deaths| number}}</p>
            <p>{{data.lastupdate| date:'longDate'}}</p>
            <p>Data meninggal saat ini</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="graph">
  <div class="container">
    <div class="row">
      <div class="col chart-wrapper">
        <canvas *ngIf="global" baseChart [chartType]="lineChartType" [datasets]="lineChartData"
          [labels]="lineChartLabel"></canvas>
        <canvas baseChart *ngIf="!global" [chartType]="barChartType" [datasets]="barChartData"
          [labels]="barChartLabel"></canvas>
      </div>
    </div>
  </div>
</section>

<footer id="kontak">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3>About Me</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, vel, modi unde iure quae iste ea possimus
          consequatur accusamus nulla est aspernatur dolorum? Voluptatibus sint laudantium est harum. Sequi, nostrum.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, vel, modi unde iure quae iste ea
          possimus
          consequatur accusamus nulla est aspernatur dolorum? Voluptatibus sint laudantium est harum. Sequi,
          nostrum.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>Keep In Touch</h3>
        <ul class="list-unstyled">
          <li>
            <p><strong><i class="fas fa-map-marked"></i>Addres :</strong>Klaten, jawa tengah</p>
          </li>
          <li>
            <p><strong><i class="fas fa-envelope"></i>Email :</strong><a href="#">azharrizki7834@gmail.com</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
