/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #025955;
}

@media (max-width: 748px) {
  #header img {
    margin: 0 auto;
  }
}

#navigation .navbar {
  border-bottom: 1px solid #025955;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navigation .navbar:hover {
  color: #00917c;
}

#header {
  background: url(assets/background.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #025955;
  display: flex;
  align-items: center;
}

footer {
  padding: 2rem 0;
  background-color: #025955;
}

footer a {
  color: #b8b8b8;
}

footer a:hover {
  color: #fde8cd;
}

footer .fas {
  padding: 5px;
}

#statistik {
  padding: 5rem 0;
}

#statistic .card-text {
  font-weight: bold;
  font-size: 36px;
  color: #701111;
}

#statistic .card-infected {
  border-bottom-color: darkblue;
  border-bottom-width: 18px;
}
#statistic .card-recovered {
  border-bottom-color: chartreuse;
  border-bottom-width: 18px;
}
#statistic .card-deaths {
  border-bottom-color: crimson;
  border-bottom-width: 18px;
}
